//----------------------------------------//
//                                        //
//  Layout stylesheet                     //
//                                        //
//----------------------------------------//


body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-variant-ligatures: common-ligatures;
    margin: 0;
    padding: 0;
    background: $body_background;
  
    @include text--body();
}