//----------------------------------------//
//                                        //
//  Hero stylesheet                       //
//                                        //
//----------------------------------------//

.hero {
    --color-title: #{$color_1};
    --color-title-2: #{$color_1};
    padding: $module_space 0;
    background-image: $gradient_1;
    //background: url(../_gfx/image.jpg) center center no-repeat;
    //background-size: cover;
    color: $color_1;
    position: relative;

    &__inner {
        @include layout();
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        z-index: 10;
    }

    &__body {
        width: 34rem;
        padding-right: 3rem;

        &__title {
            @include text-hierarchy--1();
        }

        &__content {
            @include text-hierarchy--5();
            margin-bottom: 3rem;

            p {
                margin: 0 0 .5rem 0;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        .badge {
            @include badge-dark();
        }

        .button {
            @include button-light();
        }
    }

    &__media {
        width: calc(100% - 500px);
        margin-right: -2rem;
        position: relative;


        img {
            display: block;
            width: 100%;
            height: auto;
            position: relative;
            z-index: 10;
        }
    }

    // Background curve

    &::after {
        content: '';
        display: block;
        width: 100%;
        height: 313px;
        background: url(../_gfx/hero-bottom.svg) center bottom no-repeat;
        background-size: contain;
        position: absolute;
        left: 0;
        bottom: 0;
        pointer-events: none;
    }

    /*&::before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        background: $color_primary_500;
        position: absolute;
        left: 0;
        top: 0;
        pointer-events: none;
        opacity: .5;
    }*/
}