//----------------------------------------//
//                                        //
//  Module general stylesheet             //
//                                        //
//----------------------------------------//

.module {
    padding: $module_space 0;

    &__inner {
        @include layout();
    }

    &--medium {
        background: $color_primary_900;

        .button:not(.button--2):not(.button--3) {
            @include button-medium();
        }
    }

    &--dark {
        --color-title: #{$color_1};
        --color-title-2: #{$color_1};
        
        background-color: var(--module-color-background);
        background-image: var(--module-gradient-background);
        
        color: $color_1;    

        .badge {
            @include badge-dark();
        }

        .button {
            @include button-light();
        }
    }
}